<!-- <p>
  bike-items works!
</p>
 -->

 <!-- do ngFor and ngif  for bikes........if bike = current user -->

 <div >
    <div>
      
      <table class="table table-striped">
          <tr>
            
            
            <th>Actions</th>        
          </tr>
          <tr *ngFor="let item of showBike">
            <td>Title:{{item.title}}</td>
            <td>Price:{{item.price | currency:'USD':true}}</td>
            <td>Desc:{{item.desc}}</td>
            <td>location:{{item.location}}</td>
            <td>createdBy:{{item._user._id}}|||{{user.sessionUser._id}}</td>
            
            <button *ngIf='item._user._id === user.sessionUser._id' type="button" class="btn btn-danger"(click)="erase(item)">Erase</button>
            <button *ngIf='item._user._id != user.sessionUser._id' type="button" class="btn btn-primary"(click)="contact(item)">Contact</button>
            
          </tr>      
      </table>
    </div>
  </div>