<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Add a new car</h1>
    <form>
        Manufacturer <input type="text">
        Model <input type="text">
        Color <input type="text">
        Engine <input type="text">
        <input type="submit" value="Add new car">
    </form>
</body>
</html>