<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pack of alPACKa's</title>
</head>
<body>
    
    <h1>Here are a PACK of al-PACK-a's!!! So awesome :-)))!</h1>



<a href="/alpaca/new">Go to new alpaca form</a>
<br>
<a href="/show">See the whole pack!</a>

</body>
</html> 