<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New PACK member!</title>
</head>
<body>

        <form action='/alpaca' method="POST" name="kk">
            <label for="name">Alpaca's Name: </label>
            <br>
            <input type="text" name="name" value="Whats the name?">
            <br>

            <label for="weight">Alpaca's Weight: </label>
            <br>
            <input type="text"  name="weight" type="text" class="" >       
            <br>

            <label for="color">Alpaca's Color: </label>
            <br>
            <input type="text"  name="color" type="text" class="" >       
            <br>

            <label for="age">Alpaca's age: </label>
            <br>
            <input type="text"  name="age" type="number" class="" >       
            <br>
            <!-- should input be number? -->

        <button type="submit" class=" ">Add to my pack-A-al-PACK-a's!! ;-)</button>
    </form>
    
</body>
</html>