<p>
  game works!
</p>
<p>
    game-status works!
  </p>
  
  <div >
      <div>
        <table class="table table-striped">
            <tr>
              <th>Player Name</th>
              
              <th>Actions</th>        
            </tr>
            <tr *ngFor="let item of playerList">
              <td>{{item.name}}</td>
              <!-- <td>{{item.position}}</td> -->
              <!-- <td> -->
                  <!-- <button (click)="onClick()" [ngClass]="{'on' :btn btn-danger, 'off' :btn btn-default}"">Playering</button> -->
                  <!-- <button (click)= "playing(item)" class="btn btn-success">Playering</button>
                  <button (click)="notPlaying(item)" class="btn btn-danger">not Playering</button>
                  <button (click)="undecided(item)" class="btn btn-warning">undecided</button> -->
                <td class="col-7">{{item._id}}
                    <button [ngClass]="{
                      'btn-outline-success': item[game] != 'playing',
                      'btn-success': item[game] === 'playing'
                    }" 
                    class="btn" (click)="changeState(item._id, 'playing')">Playing</button>
                    
                    
                    <button [ngClass]="{
                      'btn-outline-danger': item[game] != 'not',
                      'btn-danger': item[game] === 'not'
                    }" class="btn" (click)="changeState(item._id, 'not')">Not Playing</button>

                    <button [ngClass]="{
                      'btn-outline-warning': item[game] != 'undecided',
                      'btn-warning': item[game] === 'undecided'
                    }" class="btn" (click)="changeState(item._id, 'undecided')">Undecided</button>
              </td>
            </tr>      
        </table>
      </div>
    </div>