<p>
  bike-links works!
</p>
<!-- class="container rounded p-3" -->
<div >
  <h2 class="text-white">All Cycles</h2>
  <div class="row p-3">
    <a [routerLink]="['browse/']" class="text-light">Browse</a>
    <a [routerLink]="['listings/']" class="text-light">My Listings</a>
    <a (click)="logout()"  class="text-light">Log Off</a>
<!-- [routerLink] will stack on top of previous existing URL. example. if previous is browse then above would be browse/whatever -->
  </div>
</div>

</div>
  <router-outlet></router-outlet>
</div>