<p>
  bike-links works!
</p>
<!-- class="container rounded p-3" -->
<div class="container">
    <div class="row main">
        <div class="main-login main-center">
          <div >
            <h2 class="text-white">All Cycles</h2>
            <div class="row p-3">
              <!-- leading slash below supercedes anything else before the address bar -->
              <a [routerLink]="['/browse']" class="text-light">Browse</a>
              <a [routerLink]="['/listings']" class="text-light">My Listings</a>
              <a (click)="logout()"  class="text-light">Log Off</a>
          <!-- [routerLink] will stack on top of previous existing URL. example. if previous is browse then above would be browse/whatever -->
            </div>
          </div>
        </div>
    </div>
</div>

<div>
  <router-outlet></router-outlet>
</div>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>
