<p>
  bike-edit works!
</p>
<div >
  <div>
    <table class="table table-striped">
        <tr>
          
          
          <th>Edit/Delete Listings</th>        
        </tr>
        <!-- <tr *ngFor="let item of showBike; let i = index; trackBy:trackByIndex"> -->
        <tr *ngFor="let item of showBike">
                <form (submit)='editBike(item)' #editForm="ngForm">
                  <!-- ; editForm.reset() removed this from above -->
          
          <td>
            <!-- IMPORTANT: data is sent to form when form is live
            once user clicks update the data is cleared. Need to use below input type of hidden to capture and send data 
            to the rear end -->
<!--    
          <input type="hidden" name="_id" value="{{item._id}}">
              Title:<input type='text' name='title'  [(ngModel)]='item.title' #title="ngModel">
          </td>
          <td>Price:<input type='text' name='price'  [(ngModel)]='item.price' #price="ngModel"></td>
          <td>Desc:<input type='text' name='desc'  [(ngModel)]='item.desc' #desc="ngModel"></td>
          <td>location:<input type='text' name='location'  [(ngModel)]='item.location' #location="ngModel"></td> -->


   
          <!-- Problem is that all text boxes update with new data, only want one -->
          <td>Title:<input type='text' name='title' placeholder="{{item.title}}" [(ngModel)]='item.title' #title="ngModel"></td>
          <td>Price:<input type='text' name='price' placeholder="{{item.price}}" [(ngModel)]='item.price' #price="ngModel"></td>
          <td>Desc:<input type='text' name='desc' placeholder="{{item.desc}}" [(ngModel)]='item.desc' #desc="ngModel"></td>
          <td>location:<input type='text' name='location' placeholder="{{item.location}}" [(ngModel)]='item.location' #location="ngModel"></td>
        
           
          <p><input (submit)='editBike($event)' type="submit" value='Update' ></p>
          <!-- IMPORTANT: *possible* solution is to use ($event) to pass in data on which bike! p= -->
          </form>
        </tr>      
    </table>
  </div>
</div>


<!-- ignore above -->