<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="https://upload.wikimedia.org/wikipedia/en/thumb/2/20/Trek_Bicycle_Corporation_logo.svg/1280px-Trek_Bicycle_Corporation_logo.svg.png">
</div>
<ul>
  <li>
    <h2>
      <!-- create *ngIf with new variable below tu turn off elements when logged in -->
      <app-register style="float: left; width: 600px"></app-register>
      <app-login2 style="float: right; width: 600px"></app-login2>
    </h2>
  </li>
</ul>

<router-outlet></router-outlet>
