.error{
    font-size: 12px;
    color: red;
}

form.ng-pristine.error{
    display: none;
}
.focus{
    border-left: 5px solid #a94442;
}

.green{
    background-color: lightgreen;
}

.ng-valid { } 
.ng-invalid { } 
.ng-pristine { } 
.ng-dirty { } 
.ng-touched { } 
.ng-untouched { } 