<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quoting Dojo</title>
</head>
<body>
    <h1>Welcome to Quoting Dojo</h1>
    <form action="/quotes" method="POST" name="kk">
            <label for="name">Your Name: </label>
            <br>
            <input type="text" name="name" value="Whats your name?">
            <br>
            <label for="exampleInputEmail2">Your Quote</label>
            <br>
            <textarea  name="quote" type="text" class="" >
            </textarea>
        <br>
        <button type="submit" class=" ">Add to my quotes.</button>
    </form>

<a href="/allQuotes">Skip to all Quotes</a>


    
</body>
</html>